# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni Stuff\Projects\AI 2\Προχωρημένα Θέματα Μηχανικής Μάθησης\ATMLProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
